name: CI

on:
  pull_request:
  push:
    branches:
      - develop
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install workspace deps
        run: dart pub get

      - name: Activate Melos
        run: |
          dart pub global activate melos 7.3.0
          echo "$HOME/.pub-cache/bin" >> "$GITHUB_PATH"

      - name: Bootstrap
        run: melos bootstrap

      - name: Analyze
        run: melos run analyze --no-select

      - name: Test
        run: melos run test --no-select
