name: CI

on:
  pull_request:
  push:
    branches:
      - develop
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install workspace deps
        run: dart pub get

      - name: Bootstrap
        run: dart run melos bootstrap

      - name: Analyze
        run: dart run melos analyze

      - name: Test
        run: dart run melos test
